.add-task-button,
.clear-task-button {
  width: 140px;
  margin-right: 10px;
  margin-top: 10px;
}
.writing-tasks-area {
  height: 70px !important;
}
li,
ul {
  margin-top: 5px;
}
.tasks-container {
  height: 300px;
  overflow: hidden;
  padding-top: 5px;
}
.tasks-icon {
  height: 20px;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}
.sub-item {
  margin: 0px;
  margin-left: 50px;
}
.root {
  padding-left: 10px;
  padding-right: 10px;
}
