.buttons {
  width: 140px;
  margin-right: 10px;
  margin-top: 10px;
}
.text-area-style {
  height: 70px !important;
}
li,
ul {
  margin-top: 5px;
}
.display-area {
  height: 300px;
  overflow: hidden;
}
.image {
  height: 20px;
  float: right;
  margin-right: 5px;
}
.sub-item {
  margin: 10px;
  margin-left: 50px;
}
